<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>

<h2 th:text="'First Name: ' + ${mentor.firstName}"></h2>
<h2 th:text="'Last Name: ' + ${mentor.lastName}"></h2>
<h2 th:text="'Email: ' + ${mentor.email}"></h2>
<h2 th:text="'Graduated: ' + ${mentor.graduated}"></h2>
<h2 th:text="'Gender: ' + ${mentor.gender}"></h2>
<h2 th:text="'Batch Number: ' + ${mentor.batch}"></h2>
<h2 th:text="'Company: ' + ${mentor.company}"></h2>


</body>
</html>